USE [master]
GO
/****** Object:  Database [AGRO]    Script Date: 07.05.2026 17:05:33 ******/
CREATE DATABASE [AGRO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AGRO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\AGRO.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'AGRO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\AGRO_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AGRO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AGRO]
GO
/****** Object:  Table [dbo].[Batches]    Script Date: 07.05.2026 17:05:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Batches](
	[batch_id] [int] IDENTITY(1,1) NOT NULL,
	[batch_number] [varchar](30) NOT NULL,
	[order_id] [int] NOT NULL,
	[start_time] [datetime2](7) NULL,
	[end_time] [datetime2](7) NULL,
	[status] [varchar](30) NULL,
	[actual_quantity] [decimal](12, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[batch_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[batch_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Components]    Script Date: 07.05.2026 17:05:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Components](
	[component_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[unit_of_measure] [varchar](10) NOT NULL,
	[description] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[component_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Deviations]    Script Date: 07.05.2026 17:05:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deviations](
	[deviation_id] [int] IDENTITY(1,1) NOT NULL,
	[batch_id] [int] NOT NULL,
	[step_id] [int] NULL,
	[type] [varchar](50) NOT NULL,
	[severity] [varchar](20) NULL,
	[description] [varchar](500) NOT NULL,
	[planned_value] [varchar](50) NULL,
	[actual_value] [varchar](50) NULL,
	[deviation_date] [datetime2](7) NULL,
	[reported_by] [int] NULL,
	[resolved_by] [int] NULL,
	[resolution] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[deviation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Equipment]    Script Date: 07.05.2026 17:05:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipment](
	[equipment_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[type] [varchar](50) NOT NULL,
	[line] [varchar](20) NULL,
	[status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[equipment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventLog]    Script Date: 07.05.2026 17:05:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventLog](
	[event_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[event_type] [varchar](50) NOT NULL,
	[entity] [varchar](50) NOT NULL,
	[entity_id] [int] NOT NULL,
	[description] [varchar](500) NOT NULL,
	[event_date] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[event_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LaboratoryDecisions]    Script Date: 07.05.2026 17:05:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LaboratoryDecisions](
	[decision_id] [int] IDENTITY(1,1) NOT NULL,
	[batch_id] [int] NULL,
	[raw_material_id] [int] NULL,
	[decision] [varchar](30) NOT NULL,
	[reason] [varchar](500) NULL,
	[decision_date] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[decision_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LaboratoryTests]    Script Date: 07.05.2026 17:05:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LaboratoryTests](
	[test_id] [int] IDENTITY(1,1) NOT NULL,
	[test_type] [varchar](30) NOT NULL,
	[batch_id] [int] NULL,
	[raw_material_id] [int] NULL,
	[status] [varchar](20) NULL,
	[assigned_date] [datetime2](7) NULL,
	[laborant_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[test_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaterialConsumption]    Script Date: 07.05.2026 17:05:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialConsumption](
	[consumption_id] [int] IDENTITY(1,1) NOT NULL,
	[batch_id] [int] NOT NULL,
	[raw_material_id] [int] NOT NULL,
	[actual_quantity] [decimal](12, 3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[consumption_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProcessCards]    Script Date: 07.05.2026 17:05:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProcessCards](
	[process_card_id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[recipe_id] [int] NOT NULL,
	[version] [int] NOT NULL,
	[status] [varchar](20) NULL,
	[approved_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[process_card_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductionOrders]    Script Date: 07.05.2026 17:05:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductionOrders](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[order_number] [varchar](30) NOT NULL,
	[recipe_id] [int] NOT NULL,
	[planned_quantity] [decimal](12, 2) NOT NULL,
	[status] [varchar](30) NULL,
	[planned_start_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[order_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductionSteps]    Script Date: 07.05.2026 17:05:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductionSteps](
	[step_id] [int] IDENTITY(1,1) NOT NULL,
	[batch_id] [int] NOT NULL,
	[step_order] [int] NOT NULL,
	[step_name] [varchar](100) NOT NULL,
	[planned_temp] [decimal](8, 2) NULL,
	[actual_temp] [decimal](8, 2) NULL,
	[planned_duration_min] [int] NULL,
	[actual_duration_min] [int] NULL,
	[planned_pressure] [decimal](8, 2) NULL,
	[actual_pressure] [decimal](8, 2) NULL,
	[deviation_flag] [bit] NULL,
	[operator_comment] [varchar](500) NULL,
	[status] [varchar](20) NULL,
	[start_time] [datetime2](7) NULL,
	[end_time] [datetime2](7) NULL,
	[operator_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[step_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 07.05.2026 17:05:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[product_code] [varchar](30) NOT NULL,
	[name] [varchar](150) NOT NULL,
	[type] [varchar](50) NULL,
	[release_form] [varchar](50) NULL,
	[status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[product_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QualityControl]    Script Date: 07.05.2026 17:05:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QualityControl](
	[control_id] [int] IDENTITY(1,1) NOT NULL,
	[batch_id] [int] NOT NULL,
	[analysis_date] [datetime2](7) NOT NULL,
	[sample_type] [varchar](50) NOT NULL,
	[parameter_name] [varchar](100) NOT NULL,
	[measured_value] [varchar](50) NOT NULL,
	[standard_value] [varchar](50) NULL,
	[unit] [varchar](20) NULL,
	[result] [varchar](20) NOT NULL,
	[decision] [varchar](30) NOT NULL,
	[analyst_comment] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[control_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RawMaterialBatches]    Script Date: 07.05.2026 17:05:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RawMaterialBatches](
	[raw_material_id] [int] IDENTITY(1,1) NOT NULL,
	[batch_number] [varchar](30) NOT NULL,
	[component_id] [int] NOT NULL,
	[supplier] [varchar](100) NULL,
	[quantity] [decimal](12, 3) NOT NULL,
	[receipt_date] [date] NOT NULL,
	[quality_status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[raw_material_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[batch_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecipeComposition]    Script Date: 07.05.2026 17:05:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecipeComposition](
	[composition_id] [int] IDENTITY(1,1) NOT NULL,
	[recipe_id] [int] NOT NULL,
	[component_id] [int] NOT NULL,
	[percentage] [decimal](8, 4) NOT NULL,
	[load_order] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[composition_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recipes]    Script Date: 07.05.2026 17:05:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recipes](
	[recipe_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[version] [int] NOT NULL,
	[status] [varchar](20) NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[recipe_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 07.05.2026 17:05:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[description] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestResults]    Script Date: 07.05.2026 17:05:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestResults](
	[result_id] [int] IDENTITY(1,1) NOT NULL,
	[test_id] [int] NOT NULL,
	[parameter] [varchar](50) NOT NULL,
	[min_norm] [varchar](20) NULL,
	[max_norm] [varchar](20) NULL,
	[actual_value] [varchar](50) NOT NULL,
	[is_compliant] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[result_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 07.05.2026 17:05:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[login] [varchar](50) NOT NULL,
	[password_hash] [varchar](100) NOT NULL,
	[full_name] [varchar](150) NOT NULL,
	[role] [varchar](50) NOT NULL,
	[email] [varchar](100) NULL,
	[phone] [varchar](20) NULL,
	[is_active] [bit] NULL,
	[last_login] [datetime2](7) NULL,
	[created_at] [datetime2](7) NULL,
	[department] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Batches_Number]    Script Date: 07.05.2026 17:05:33 ******/
CREATE NONCLUSTERED INDEX [IX_Batches_Number] ON [dbo].[Batches]
(
	[batch_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Batches_Status]    Script Date: 07.05.2026 17:05:33 ******/
CREATE NONCLUSTERED INDEX [IX_Batches_Status] ON [dbo].[Batches]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Deviations_Batch]    Script Date: 07.05.2026 17:05:33 ******/
CREATE NONCLUSTERED INDEX [IX_Deviations_Batch] ON [dbo].[Deviations]
(
	[batch_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EventLog_Date]    Script Date: 07.05.2026 17:05:33 ******/
CREATE NONCLUSTERED INDEX [IX_EventLog_Date] ON [dbo].[EventLog]
(
	[event_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_LaboratoryTests_Status]    Script Date: 07.05.2026 17:05:33 ******/
CREATE NONCLUSTERED INDEX [IX_LaboratoryTests_Status] ON [dbo].[LaboratoryTests]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductionSteps_Batch]    Script Date: 07.05.2026 17:05:33 ******/
CREATE NONCLUSTERED INDEX [IX_ProductionSteps_Batch] ON [dbo].[ProductionSteps]
(
	[batch_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_QualityControl_Batch]    Script Date: 07.05.2026 17:05:33 ******/
CREATE NONCLUSTERED INDEX [IX_QualityControl_Batch] ON [dbo].[QualityControl]
(
	[batch_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Batches] ADD  DEFAULT ('Planned') FOR [status]
GO
ALTER TABLE [dbo].[Deviations] ADD  DEFAULT ('Medium') FOR [severity]
GO
ALTER TABLE [dbo].[Deviations] ADD  DEFAULT (getdate()) FOR [deviation_date]
GO
ALTER TABLE [dbo].[Equipment] ADD  DEFAULT ('Operating') FOR [status]
GO
ALTER TABLE [dbo].[EventLog] ADD  DEFAULT (getdate()) FOR [event_date]
GO
ALTER TABLE [dbo].[LaboratoryDecisions] ADD  DEFAULT (getdate()) FOR [decision_date]
GO
ALTER TABLE [dbo].[LaboratoryTests] ADD  DEFAULT ('Created') FOR [status]
GO
ALTER TABLE [dbo].[LaboratoryTests] ADD  DEFAULT (getdate()) FOR [assigned_date]
GO
ALTER TABLE [dbo].[ProcessCards] ADD  DEFAULT ('Draft') FOR [status]
GO
ALTER TABLE [dbo].[ProductionOrders] ADD  DEFAULT ('Draft') FOR [status]
GO
ALTER TABLE [dbo].[ProductionSteps] ADD  DEFAULT ((0)) FOR [deviation_flag]
GO
ALTER TABLE [dbo].[ProductionSteps] ADD  DEFAULT ('Waiting') FOR [status]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ('Active') FOR [status]
GO
ALTER TABLE [dbo].[RawMaterialBatches] ADD  DEFAULT ('Pending') FOR [quality_status]
GO
ALTER TABLE [dbo].[Recipes] ADD  DEFAULT ('Draft') FOR [status]
GO
ALTER TABLE [dbo].[Recipes] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Batches]  WITH CHECK ADD  CONSTRAINT [FK_Batches_ProductionOrders] FOREIGN KEY([order_id])
REFERENCES [dbo].[ProductionOrders] ([order_id])
GO
ALTER TABLE [dbo].[Batches] CHECK CONSTRAINT [FK_Batches_ProductionOrders]
GO
ALTER TABLE [dbo].[Deviations]  WITH CHECK ADD  CONSTRAINT [FK_Deviations_Batches] FOREIGN KEY([batch_id])
REFERENCES [dbo].[Batches] ([batch_id])
GO
ALTER TABLE [dbo].[Deviations] CHECK CONSTRAINT [FK_Deviations_Batches]
GO
ALTER TABLE [dbo].[Deviations]  WITH CHECK ADD  CONSTRAINT [FK_Deviations_ProductionSteps] FOREIGN KEY([step_id])
REFERENCES [dbo].[ProductionSteps] ([step_id])
GO
ALTER TABLE [dbo].[Deviations] CHECK CONSTRAINT [FK_Deviations_ProductionSteps]
GO
ALTER TABLE [dbo].[EventLog]  WITH CHECK ADD  CONSTRAINT [FK_EventLog_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[EventLog] CHECK CONSTRAINT [FK_EventLog_Users]
GO
ALTER TABLE [dbo].[LaboratoryDecisions]  WITH CHECK ADD  CONSTRAINT [FK_LaboratoryDecisions_Batches] FOREIGN KEY([batch_id])
REFERENCES [dbo].[Batches] ([batch_id])
GO
ALTER TABLE [dbo].[LaboratoryDecisions] CHECK CONSTRAINT [FK_LaboratoryDecisions_Batches]
GO
ALTER TABLE [dbo].[LaboratoryDecisions]  WITH CHECK ADD  CONSTRAINT [FK_LaboratoryDecisions_RawMaterial] FOREIGN KEY([raw_material_id])
REFERENCES [dbo].[RawMaterialBatches] ([raw_material_id])
GO
ALTER TABLE [dbo].[LaboratoryDecisions] CHECK CONSTRAINT [FK_LaboratoryDecisions_RawMaterial]
GO
ALTER TABLE [dbo].[LaboratoryTests]  WITH CHECK ADD  CONSTRAINT [FK_LaboratoryTests_Batches] FOREIGN KEY([batch_id])
REFERENCES [dbo].[Batches] ([batch_id])
GO
ALTER TABLE [dbo].[LaboratoryTests] CHECK CONSTRAINT [FK_LaboratoryTests_Batches]
GO
ALTER TABLE [dbo].[LaboratoryTests]  WITH CHECK ADD  CONSTRAINT [FK_LaboratoryTests_RawMaterial] FOREIGN KEY([raw_material_id])
REFERENCES [dbo].[RawMaterialBatches] ([raw_material_id])
GO
ALTER TABLE [dbo].[LaboratoryTests] CHECK CONSTRAINT [FK_LaboratoryTests_RawMaterial]
GO
ALTER TABLE [dbo].[MaterialConsumption]  WITH CHECK ADD  CONSTRAINT [FK_MaterialConsumption_Batches] FOREIGN KEY([batch_id])
REFERENCES [dbo].[Batches] ([batch_id])
GO
ALTER TABLE [dbo].[MaterialConsumption] CHECK CONSTRAINT [FK_MaterialConsumption_Batches]
GO
ALTER TABLE [dbo].[MaterialConsumption]  WITH CHECK ADD  CONSTRAINT [FK_MaterialConsumption_RawMaterial] FOREIGN KEY([raw_material_id])
REFERENCES [dbo].[RawMaterialBatches] ([raw_material_id])
GO
ALTER TABLE [dbo].[MaterialConsumption] CHECK CONSTRAINT [FK_MaterialConsumption_RawMaterial]
GO
ALTER TABLE [dbo].[ProcessCards]  WITH CHECK ADD  CONSTRAINT [FK_ProcessCards_Products] FOREIGN KEY([product_id])
REFERENCES [dbo].[Products] ([product_id])
GO
ALTER TABLE [dbo].[ProcessCards] CHECK CONSTRAINT [FK_ProcessCards_Products]
GO
ALTER TABLE [dbo].[ProcessCards]  WITH CHECK ADD  CONSTRAINT [FK_ProcessCards_Recipes] FOREIGN KEY([recipe_id])
REFERENCES [dbo].[Recipes] ([recipe_id])
GO
ALTER TABLE [dbo].[ProcessCards] CHECK CONSTRAINT [FK_ProcessCards_Recipes]
GO
ALTER TABLE [dbo].[ProductionOrders]  WITH CHECK ADD  CONSTRAINT [FK_ProductionOrders_Recipes] FOREIGN KEY([recipe_id])
REFERENCES [dbo].[Recipes] ([recipe_id])
GO
ALTER TABLE [dbo].[ProductionOrders] CHECK CONSTRAINT [FK_ProductionOrders_Recipes]
GO
ALTER TABLE [dbo].[ProductionSteps]  WITH CHECK ADD  CONSTRAINT [FK_ProductionSteps_Batches] FOREIGN KEY([batch_id])
REFERENCES [dbo].[Batches] ([batch_id])
GO
ALTER TABLE [dbo].[ProductionSteps] CHECK CONSTRAINT [FK_ProductionSteps_Batches]
GO
ALTER TABLE [dbo].[QualityControl]  WITH CHECK ADD  CONSTRAINT [FK_QualityControl_Batches] FOREIGN KEY([batch_id])
REFERENCES [dbo].[Batches] ([batch_id])
GO
ALTER TABLE [dbo].[QualityControl] CHECK CONSTRAINT [FK_QualityControl_Batches]
GO
ALTER TABLE [dbo].[RawMaterialBatches]  WITH CHECK ADD  CONSTRAINT [FK_RawMaterialBatches_Components] FOREIGN KEY([component_id])
REFERENCES [dbo].[Components] ([component_id])
GO
ALTER TABLE [dbo].[RawMaterialBatches] CHECK CONSTRAINT [FK_RawMaterialBatches_Components]
GO
ALTER TABLE [dbo].[RecipeComposition]  WITH CHECK ADD  CONSTRAINT [FK_RecipeComposition_Components] FOREIGN KEY([component_id])
REFERENCES [dbo].[Components] ([component_id])
GO
ALTER TABLE [dbo].[RecipeComposition] CHECK CONSTRAINT [FK_RecipeComposition_Components]
GO
ALTER TABLE [dbo].[RecipeComposition]  WITH CHECK ADD  CONSTRAINT [FK_RecipeComposition_Recipes] FOREIGN KEY([recipe_id])
REFERENCES [dbo].[Recipes] ([recipe_id])
GO
ALTER TABLE [dbo].[RecipeComposition] CHECK CONSTRAINT [FK_RecipeComposition_Recipes]
GO
ALTER TABLE [dbo].[TestResults]  WITH CHECK ADD  CONSTRAINT [FK_TestResults_LaboratoryTests] FOREIGN KEY([test_id])
REFERENCES [dbo].[LaboratoryTests] ([test_id])
GO
ALTER TABLE [dbo].[TestResults] CHECK CONSTRAINT [FK_TestResults_LaboratoryTests]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([user_id])
REFERENCES [dbo].[Roles] ([role_id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
USE [master]
GO
